/* General */
.header {
    color: grey;
}

.whitebg {
    background-color: white;
}

.nav-bg {
    background-color: lightgrey;
    height: 100px;
}

#selectForm {
    height: 200px;
}

.uk-container {
    padding-top: 30px;
    margin-top: 30px;
}


/* General Info Page */
#genInfo {
    height: 200px;
}

.uk-container-large {
    background-color: whitesmoke;
    border-radius: 10px;
    color: grey;
}

#genInfo {
    text-align: center;
    padding: 5px;
    margin-top: 5px;
    height: 50px;
    margin-bottom: 0px;
}

.genInfo {
    margin-left: 15px;
    margin-top: 0;
    padding-top: 0;
}

#h2 {
    margin-top: 10px;
}

.resources {
    margin-left: 30px;
}


/* Locations Page */
#stats {
    height: 200px;
}
 
#map {
    height: 400px; 
    width: 100%;
}