/* General */
.header {
    color: grey;
}

a:hover {
    text-decoration: none;
}

.whitebg {
    background-color: white;
}


/* Navbar */
#pagetitle {
    color: white;
}

#navbg {
    background:linear-gradient(#2c1567, #3d3bbb);
    box-shadow: 0px 3px 10px #b2b2b2;
}


/* General Info Page */
#genInfo {
    height: 200px;
}

.uk-container-large {
    background-color: whitesmoke;
    border-radius: 10px;
    color: grey;
}

#genInfo {
    text-align: center;
    padding: 5px;
    margin-top: 5px;
    height: 50px;
    margin-bottom: 0px;
}

.genInfo {
    margin-left: 15px;
    margin-top: 0;
    padding-top: 0;
}

#h2 {
    margin-top: 10px;
}

.resources {
    margin-left: 30px;
}


/* Locations Page */

#selectForm {
    height: 200px;
}

#map {
    height: 400px; 
    width: 100%;
}

#stats {
    height: 200px;
}
 
